:root {
  --first-font-family: "Josefin Sans", sans-serif;
  --second-font-family: "News Cycle", sans-serif;
  --third-font-family: "Parisienne", cursive;
  --fourth-font-family: "Poppins", sans-serif;
  --fifth-font-family: "Righteous", cursive;
  --sixth-font-family: "Zen Loop", cursive;
  --primary-color: #6c63ff;
  --secondary-color: #cccccc;
  --third-color: #f9f7fe;
}

.container-fluid {
  font-family: var(--fourth-font-family);
}

.hero {
  text-align: center;
  background-color: var(--third-color);
  padding: 160px 20px 100px 20px;
}

.hero p {
  font-family: var(--first-font-family);
  font-weight: 700;
  font-size: 36px;
  margin: 0;
}

.hero h1 {
  font-family: var(--fourth-font-family);
  font-size: 96px;
  font-weight: bold;
}

.hero h2 {
  font-family: var(--first-font-family);
  font-size: 30px;
  font-weight: bolder;
}

.hero .btn-contact {
  font-family: var(--first-font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 30px;
  padding: 18px 30px;
}

.hero .btn-contact:hover {
  background-color: #ffffff;
  color: var(--primary-color);
  border-color: var(--primary-color);
  transition: all 200ms ease-in-out;
  font-weight: 600;
}

.portfolio-summary {
  text-align: center;
}

.portfolio-summary h3 {
  font-family: var(--sixth-font-family);
  font-size: 80px;
}

.portfolio-summary .btn-projects {
  font-family: var(--first-font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 27px;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 40px;
  padding: 4px 20px;
}

.portfolio-summary .btn-projects:hover {
  background-color: #ffffff;
  color: var(--primary-color);
  border-color: var(--primary-color);
  transition: all 200ms ease-in-out;
  font-weight: 600;
}

.project-link {
  font-family: var(--sixth-font-family);
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: dashed;
  opacity: 0.5;
  cursor: pointer;
  color: black;
}

.project-link:hover {
  color: var(--primary-color);
  font-size: 50px;
  font-weight: bold;
  transition: all 200ms ease-in-out;
  opacity: 1;
}

.line {
  width: 60%;
  margin: auto;
}

.about-me {
  text-align: center;
  margin-bottom: 100px;
}

.about-me-myself {
  font-family: var(--sixth-font-family);
  font-size: 60px;
  text-decoration: dashed;
  cursor: pointer;
  color: var(--primary-color);
}

.about-me-myself:hover {
  color: var(--primary-color);
  font-size: 50px;
  font-weight: bold;
  transition: all 200ms ease-in-out;
  opacity: 1;
}

.decoration {
  color: var(--primary-color);
  opacity: 0.5;
  text-align: center;
}

.about-me-my-motto {
  font-family: var(--sixth-font-family);
  font-size: 40px;
  opacity: 0.8;
  color: var(--primary-color);
}

.social-media {
  text-align: center;
  background-color: var(--third-color);
}

.social-media ul {
  list-style-type: none;
  text-align: center;
}
.social-media ul li {
  display: inline;
  padding: 0 10px;
  cursor: pointer;
}

.social-media-link {
  color: var(--secondary-color);
}

.social-media-link:hover {
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
}

.footer {
  font-size: 13px;
  color: #6e6c6c;
  font-family: var(--first-font-family);
  font-weight: 800;
}

.footer-link {
  color: var(--primary-color);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--primary-color);
  font-size: 15px;
  font-family: var(--second-font-family);
}
