:root {
  --first-font-family: "Josefin Sans", sans-serif;
  --second-font-family: "News Cycle", sans-serif;
  --third-font-family: "Parisienne", cursive;
  --fourth-font-family: "Poppins", sans-serif;
  --fifth-font-family: "Righteous", cursive;
  --sixth-font-family: "Zen Loop", cursive;
  --primary-color: #6c63ff;
  --secondary-color: #cccccc;
  --third-color: #f9f7fe;
}

.container-fluid {
  font-family: var(--fourth-font-family);
  font-size: larger;
}

.active {
  color: var(--primary-color) !important;
}

.hero {
  text-align: center;
  background-color: var(--third-color);
  padding: 160px 20px 100px 20px;
}

.hero p {
  font-family: var(--first-font-family);
  font-weight: 700;
  font-size: 30px;
  margin: 0;
}

.hero h1 {
  font-family: var(--fourth-font-family);
  font-size: 96px;
  font-weight: bold;
}

.hero h2 {
  font-family: var(--first-font-family);
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 50px;
}

.hero .btn-contact {
  font-family: var(--first-font-family);
  font-size: 25px;
  line-height: 27px;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 50px;
  padding: 18px 34px;
}

.hero .btn-contact:hover {
  background-color: #ffffff;
  color: var(--primary-color);
  border-color: var(--primary-color);
  transition: all 200ms ease-in-out;
  font-weight: 600;
}

.portfolio-summary {
  text-align: center;
}

.portfolio-summary h3 {
  font-family: var(--sixth-font-family);
  font-size: 80px;
}

.portfolio-summary .btn-projects {
  font-family: var(--first-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 40px;
  padding: 8px 20px;
}

.portfolio-summary .btn-projects:hover {
  background-color: #ffffff;
  color: var(--primary-color);
  border-color: var(--primary-color);
  transition: all 200ms ease-in-out;
  font-weight: 600;
}

.project-link {
  font-family: var(--sixth-font-family);
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: dashed;
  opacity: 0.5;
  cursor: pointer;
  color: black;
}

.project-link:hover {
  color: var(--primary-color);
  font-size: 50px;
  font-weight: bold;
  transition: all 200ms ease-in-out;
  opacity: 1;
}

.project-padding {
  padding: 78px;
}

.line {
  width: 60%;
  margin: auto;
}

.about-me {
  text-align: center;
  margin: 40px 0px;
}

.about-me-myself {
  font-family: var(--sixth-font-family);
  font-size: 60px;
  text-decoration: dashed;
  cursor: pointer;
  color: var(--primary-color);
}

.about-me-myself:hover {
  color: var(--primary-color);
  font-size: 50px;
  font-weight: bold;
  transition: all 200ms ease-in-out;
  opacity: 1;
}

.decoration {
  color: var(--primary-color);
  opacity: 0.5;
  text-align: center;
}

.coder-picture {
  width: 300px;
}

.header-section {
  text-align: center;
  background-color: var(--third-color);
  padding: 160px 20px 100px 20px;
}

.header-section h2 {
  font-family: var(--first-font-family);
  font-weight: 700;
  font-size: 30px;
  margin: 0;
}

.header-section h1 {
  font-family: var(--fourth-font-family);
  font-size: 96px;
  font-weight: bold;
}

.header-section .btn-contact {
  font-family: var(--first-font-family);
  font-size: 20px;
  line-height: 27px;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 50px;
  padding: 14px 30px;
}

.header-section .btn-contact:hover {
  background-color: #ffffff;
  color: var(--primary-color);
  border-color: var(--primary-color);
  transition: all 200ms ease-in-out;
  font-weight: 600;
}

.general-container .description {
  font-family: var(--first-font-family);
  text-align: justify;
  font-weight: 600;
  font-size: 20px;
  padding: 80px 50px;
}

.general-container .coder-greetings {
  font-family: var(--first -font-family);
  font-size: 30px;
}

.text-highlight {
  color: var(--primary-color);
}

.description .btn-contact-me {
  font-family: var(--first-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 40px;
  padding: 8px 20px;
  margin-top: 20px;
  margin-right: 80px;
}

.description .btn-contact-me:hover {
  background-color: #ffffff;
  color: var(--primary-color);
  border-color: var(--primary-color);
  transition: all 200ms ease-in-out;
  font-weight: 600;
}

.coder-picture-aboutPage {
  width: 500px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.coder-picture-aboutPage-padding {
  padding-top: 50px;
}

.coder-certificates,
.tools h3 {
  text-align: center;
}

.coder-certificates .certificate-link-title {
  font-family: var(--third-font-family);
  text-align: center;
  font-size: 70px;
  text-decoration: none;
  color: black;
}

.coder-certificates .certificate-link-title:hover {
  color: var(--primary-color);
  font-size: 73px;
  transition: all 200ms ease-in-out;
  opacity: 1;
}

.coder-certificates .certificate-link-image {
  width: 800px;
  border-radius: 10px;
}

.coder-certificates .certificate-padding {
  padding: 30px 80px;
}

.tools .tools-link-title {
  font-family: var(--second-font-family);
  text-align: center;
  font-size: 70px;
  text-decoration: none;
  color: black;
}

.tools ul {
  list-style-type: none;
  margin: 60px 0px;
  text-align: center;
}

.tools ul li {
  display: inline;
  cursor: pointer;
  padding: 10px;
}

.tools ul li img {
  width: 80px;
}

.tools ul li img:hover {
  width: 60px;
  transition: all 200ms ease-in-out;
}

.general-container .description .description-project {
  font-family: var(--first-font-family);
  text-align: justify;
  font-weight: 600;
  font-size: 20px;
  padding: 117px 67px;
}

.general-container .description-project h3 {
  font-family: var(--second-font-family);
  font-size: 50px;
  margin-bottom: 30px;
  text-align: left;
}

.description-project .btn-contact-me {
  margin-right: 10px;
}

.general-container .contact-buttons .social-media-link {
  color: var(--primary-color);
  padding: 5px 10px;
  background: #ffffff;
  border-radius: 50%;
  font-size: 30px;
  transition: all 200ms ease-in-out;
  margin-top: 20px;
  position: absolute;
}

.general-container .contact-buttons .social-media-link:hover {
  color: #ffffff;
  background: var(--primary-color);
}

.responsive-website-image {
  width: 380px;
}

.weather-image {
  width: 560px;
}

.general-container .contact-media p {
  margin: 0;
  font-family: var(--first-font-family);
  font-size: 30px;
  font-weight: bold;
}

.general-container .contact-media a {
  text-decoration: none;
  font-family: var(--fourth-font-family);
  font-size: 20px;
  color: var(--primary-color);
}

.general-container .contact-media a:hover {
  color: grey;
  font-weight: 500;
}

.general-container .contact-media i {
  font-size: 35px;
  padding: 8px 10px;
  color: #ffffff;
  background: var(--primary-color);
  border-radius: 50%;
}

.general-container .contact-media i:hover {
  color: var(--primary-color);
  background: #ffffff;
}

.going-up a {
  text-decoration: none;
}

.going-up .fa-chevron-up {
  display: block;
  font-size: 30px;
  color: var(--secondary-color);
}

.going-up .fa-chevron-up:hover {
  font-size: 45px;
  color: var(--primary-color);
}

footer .social-media {
  text-align: center;
  background-color: var(--third-color);
}

footer .social-media ul {
  list-style-type: none;
}

footer .social-media ul li {
  display: inline;
  cursor: pointer;
}

footer .social-media ul li a {
  margin: 0 20px;
  padding: 5px 10px;
  color: var(--primary-color);
  background: #ffffff;
  border-radius: 50%;
  font-size: 25px;
  transition: all 100ms ease-in-out;
}

footer .social-media ul li a:hover {
  color: #ffffff;
  background: var(--primary-color);
}

footer .project-coded-by {
  font-size: 18px;
  color: #6e6c6c;
  font-family: var(--first-font-family);
  font-weight: 800;
  margin: 0;
  padding-bottom: 10px;
}

footer .footer-link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  font-weight: var(--fourth-font-family);
}

footer .footer-link:hover {
  color: #6e6c6c;
}

@media (max-width: 960px) {
  .container-fluid {
    font-size: 18px;
  }

  .hero {
    padding: 120px 20px 80px 20px;
  }

  .header-section {
    padding: 120px 20px 40px 20px;
  }

  .hero h1,
  .header-section h1 {
    font-size: 40px;
  }

  .hero p,
  .hero h2,
  .header-section h2 {
    font-size: 22px;
  }

  .hero .btn-contact {
    font-weight: 500;
    font-size: 20px;
    padding: 4px 20px;
  }

  .portfolio-summary h3 {
    font-size: 44px;
  }

  .portfolio-summary .btn-projects {
    font-weight: 500;
    font-size: 18px;
    padding: 4px 20px;
  }

  .project-link {
    font-size: 30px;
  }

  .project-link:hover {
    color: var(--primary-color);
    font-size: 30px;
  }

  .project-padding {
    padding: 38px;
  }

  .about-me .about-me-myself {
    font-size: 40px;
  }

  .general-container .description {
    font-size: 16px;
    padding: 40px 20px;
  }

  .general-container .coder-greetings {
    font-size: 20px;
  }

  .coder-picture-aboutPage {
    width: 200px;
  }

  .contact-buttons-responsive .btn-contact-me {
    margin: 20px;
    font-size: 16px;
    border-radius: 20px;
  }

  .coder-certificates .certificate-link-title,
  .tools .tools-link-title {
    font-size: 40px;
  }

  .coder-certificates .certificate-link-title:hover {
    font-size: 45px;
  }

  .coder-certificates .certificate-link-image {
    border-radius: 0px;
  }

  .certificate-padding {
    padding: 10px !important;
  }

  .header-section .btn-contact {
    font-size: 18px;
    padding: 8px 20px;
  }

  .general-container .description .description-project {
    padding: 0px 67px;
  }

  .general-container .description-project h3 {
    font-size: 40px;
    text-align: center;
  }

  .description-project .contact-buttons {
    text-align: center !important;
  }

  .contact-media .text-start {
    text-align: center !important;
  }

  .contact-media .link-alignment {
    text-align: center;
  }

  footer .social-media ul li a {
    font-size: 20px;
  }

  footer .project-coded-by {
    font-size: 12px;
  }
}
